.about {
    -webkit-background-size: cover;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    &__image {
        height: 95%;
        opacity: 0.8;
    }
    &__text-item {
        max-width: 600px;
        font-size: 1.2rem;
        letter-spacing: 2px;
        line-height: 40px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: lighter;
    }
}