@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    max-width: 100vw;
    overflow: hidden;
}


/* хром, сафари */
body::-webkit-scrollbar {
    width: 0;
}

/* ie 10+ */
body {
    -ms-overflow-style: none;
}

/* фф (свойство больше не работает, других способов тоже нет)*/
body {
    overflow: -moz-scrollbars-none;
}